<ion-header>
  <ion-toolbar color="primary">
    <ion-title>我的信息</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="my">
    <ul class="my-details" *ngIf="myInfo">
      <ion-item>
        <ion-label>用户名</ion-label>
        <ion-buttons slot="end">{{myInfo.user_name}}</ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label>真实姓名</ion-label>
        <ion-buttons slot="end">{{myInfo.real_name}}</ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label>角色</ion-label>
        <ion-buttons slot="end">{{myInfo.role_name}}</ion-buttons>
      </ion-item>
      <ion-item lines="none">
        <ion-label>手机号</ion-label>
        <ion-buttons slot="end">{{myInfo.mobile}}</ion-buttons>
      </ion-item>
    </ul>
    <ul>
      <ion-item (click)="editPwd()">
        <ion-label>修改密码</ion-label>
      </ion-item>
      <ion-item (click)="presentAlertConfirm()" lines="none">
        <ion-label>登出</ion-label>
      </ion-item>
    </ul>
  </div>
</ion-content>
