.my{
    background: #EDEDED !important;
    height: 100%;
    padding-top: 10px;
    box-sizing: border-box;
    ul{
        margin-bottom: 10px;
        border-top: 1px solid #D3D3D3;
        border-bottom: 1px solid #D3D3D3;
        background: #ffffff;
    }
}