<ion-header>
    <!-- bar -->
    <ion-toolbar color="primary">
      <ion-title>待办</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button (click)="clickedSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button color="danger" (click)="openScreenModal()">
          筛选
        </ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="请输入关键字" [(ngModel)]="searchVal" (ionChange) = "searchFun()"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div #chart style="width: 350px;height:280px;"></div>
  </ion-content>

  <ion-menu side="start" swipeGesture="true" menuId="dealtMenu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>筛选项</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label>消息状态</ion-label>
          <ion-select okText="确定" cancelText="取消" multiple="false" (ionChange) = "readTypeChange($event)">
            <ion-select-option value="1" [selected] = "todoStatus === 1 ? true : false">未完成</ion-select-option>
            <ion-select-option value="2" [selected] = "todoStatus === 2 ? true : false">已完成</ion-select-option>
            <ion-select-option value="0" [selected] = "todoStatus === 0 ? true : false">全部</ion-select-option>
          </ion-select>
        </ion-item>      
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
  
  <ion-content>
    <!-- 下拉刷新 -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="crescent" pullingText="下拉刷新" refreshingText="刷新中...">
      </ion-refresher-content>
    </ion-refresher>
    <!-- 消息列表 -->
    <ion-list>
      <ng-container *ngIf="messageList">
        <ion-item *ngFor="let item of messageList" (click)="msgDetailsClick(item)">
          <ion-label>
            <h3>{{item.subject}}</h3>
            <p>{{item.created_time}}</p>
          </ion-label>
          <ion-button [color]="item.todo_status === 1 ? 'secondary' : ''" slot="end">
            {{item.todo_status === 2 ? "已完成" : "未完成"}}
          </ion-button>
        </ion-item>
      </ng-container>
    </ion-list>
    
    <!-- 分页 -->
    <app-page #appPage [total]="msgTotal" [size]="msgZize" (checked)="checkedBack($event)"></app-page>

    <!-- tabel -->
    <table>
      <tr></tr>
    </table>
  </ion-content>  