<ion-header >
  <ion-toolbar >
    <ion-title>扫描中……</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/index"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<section [ngClass]="{'qrscanner':isShow}" style="background : transparent none !important">
  <div [ngClass]="{'qrscanner-area':isShow}">    
  </div> 
  <div  [ngClass]="{'through-line':isShow}"></div>
  <div class="button-bottom">
    <ion-button (click)="toggleLight()" class="icon-camera" margin-right>
        <ion-icon name="flash"></ion-icon>                  
    </ion-button>
    <ion-button (click)="toggleCamera()" class="icon-camera">
        <ion-icon name="reverse-camera"></ion-icon>                  
    </ion-button>
  </div>    
</section>