<ion-header>
  <ion-toolbar color="primary">
    <ion-title>库存</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button color="danger" (click)="openScreenModal()">
        筛选
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="搜索货号/批号" [(ngModel)]="keyword"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" swipeGesture="true" menuId="indexMenu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>筛选项</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="openPicker('goodBrandist',goodBrandist,'')">
        <ion-label>厂商/品牌</ion-label>
        <ion-label>{{brandObj.text}}{{seriesObj.text!="" ? "/" : null}}{{seriesObj.text}}</ion-label>
      </ion-item>
      
      <ion-item (click)="openPicker('companyList',companyList,'')">
        <ion-label>所在库房</ion-label>
        <ion-label>{{companyObj.text}}{{departmentObj.text!="" ? "/" : null}}{{departmentObj.text}}{{contactObj.text!="" ? "/" : null}}{{contactObj.text}}</ion-label>
      </ion-item>

      <ion-item (click)="openPicker('goodsAliasList',goodsAliasList,'')">
        <ion-label>系列/俗称</ion-label>
        <ion-label *ngIf="alias1Obj && alias2Obj">{{alias1Obj.text}}{{alias2Obj.text!="" ? "/" : null}}{{alias2Obj.text}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>有效期(始)</ion-label>
        <ion-datetime display-format="YYYY-MM-DD" cancelText="取消" doneText="确定" mode="ios" [(ngModel)]="timeStartValue"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>有效期(末)</ion-label>
        <ion-datetime [disabled] = "timeStartValue!='' ? false : true" display-format="YYYY-MM-DD" cancelText="取消" doneText="确定" mode="ios" [(ngModel)]="timeEndValue" [min]="timeStartValue" (ionChange)="timeChange()"></ion-datetime>
      </ion-item>
              
      <ion-item>
        <ion-label>商品分类</ion-label>
        <ion-select okText="确定" cancelText="取消" (ionChange) = "selectFun($event,'category_id')">
          <ion-select-option value="">请选择</ion-select-option>
          <ion-select-option (value)="item.id" *ngFor="let item of classList">{{item.category_name}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>商品状态</ion-label>
        <ion-select okText="确定" cancelText="取消" multiple="true" (ionChange) = "selectFun($event,'inventory_status')">
          <ion-select-option (value)="item.inventory_status" *ngFor="let item of statusList">{{item.inventory_status_name}}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item (click)="clearStatus()">
        <ion-button>清除所有筛选状态</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content>
  
  <!-- 扫码 -->
  <!-- <ion-button>
    <a style="color: #fff" href="/tab3">扫码</a>
  </ion-button> -->

  <!-- 下拉刷新 -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent" pullingText="下拉刷新" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>
  <!-- 表格 -->
  <!-- <div class="tableDiv">
    <table *ngIf="stockList" cellpadding="10" cellspacing="10">
      <tr>
        <th nowrap>注册证名称</th>
        <th nowrap>货号</th>
        <th nowrap>厂商/品牌</th>
        <th nowrap>状态</th>
        <th nowrap>可用/库存</th>
        <th nowrap>商品分类</th>
        <th nowrap>系列/俗称</th>
        <th nowrap>规格</th>
        <th nowrap>有效期</th>
        <th nowrap>库房</th>
        <th nowrap>成本</th>
        <th nowrap>更新时间</th>
      </tr>
      <tr *ngFor="let item of stockList">
        <td nowrap>{{item.goods_name}}</td>
        <td nowrap>{{item.ref}}</td>
        <td nowrap>{{item.brand_name}}/{{item.series_name}}</td>
        <td nowrap>{{item.inventory_status_name}}</td>
        <td nowrap>{{item.quantity_available}}/{{item.quantity_inventory}}</td>
        <td nowrap>{{item.category_name}}</td>
        <td nowrap>{{item.alias_id_1_name}}/{{item.alias_id_2_name}}</td>
        <td nowrap>{{item.expire}}</td>
        <td nowrap>{{item.location_company_name}}</td>
        <td nowrap>{{item.cost}}</td>
        <td nowrap>{{item.goods_name}}</td>
        <td nowrap>{{setTime(item.inventory_time)}}</td>
      </tr>
    </table>
  </div> -->

  <!-- 库存列表 -->
  <ion-list>
    <ng-container *ngIf="stockList">
      <ion-list *ngFor="let item of stockList">

        <ion-card>

          <ion-item [lines]="item.act ? 'none' : 'inset'">
            <ion-label>
              <p><b>注册证名称:</b> {{item.goods_name}}</p>
              <p><b>货号:</b> {{item.ref}}</p>
              <p><b>厂商/品牌:</b> {{item.brand_name}}/{{item.series_name}}</p>
              <p><b>状态:</b> {{item.inventory_status_name}}</p>
              <p><b>可用/库存:</b> {{item.quantity_available}}/{{item.quantity_inventory}}</p>
            </ion-label>
            <ion-buttons (click)="stockMore(item)">
              <ion-icon [name]="!item.act ? 'arrow-down' : 'arrow-up'"></ion-icon>
            </ion-buttons>
          </ion-item>
          <ion-item *ngIf="item.act">
            <ion-label>
              <p><b>商品分类:</b> {{item.category_name}}</p>
              <p><b>系列/俗称:</b> {{item.alias_id_1_name}}/{{item.alias_id_2_name}}</p>
              <p><b>规格:</b> {{item.specification}}</p>
              <p><b>有效期:</b> {{item.expire}}        批号:{{item.lot}}</p>
              <p><b>库房:</b> {{item.location_company_name}}/{{item.location_department_name}}/{{item.location_contact_name}}</p>
              <p><b>成本:</b> {{item.cost}}</p>
              <p><b>更新时间:</b> {{setTime(item.inventory_time)}}</p>
            </ion-label>
          </ion-item>

        </ion-card>

      </ion-list>
    </ng-container>
  </ion-list>

  <!-- 分页 -->
  <app-page #appPage [total]="msgTotal" [size]="msgZize" (checked)="checkedBack($event)"></app-page>
  
</ion-content>
